<h3>Aby się zalogować należy ustawić hasło poprzez kliknięcie w
    <a href="{{ url('recovery_confirm', {'token': user.passwordRequestToken}) }}">link</a>
</h3>

<p>W razie niepowodzenia skopiuj link podany niżej i wklej go w okno swojej przeglądarki</p>
<a href="{{ url('recovery_confirm', {'token': user.passwordRequestToken}) }}" target="_blank">
    {{ url('recovery_confirm', {'token': user.passwordRequestToken}) }}
</a>
